# Dépendances
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Fichiers de build
/dist
/build

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'environnement local
*.local

# Fichiers d'éditeur
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Fichiers de cache
.cache/
.temp/
.tmp/

# Fichiers de logs
logs
*.log

# Fichiers PWA générés
icons/*
!icons/.gitkeep

# Fichiers de débogage
debug.log
debug.json

# Fichiers de sauvegarde
*.bak
*.backup
*~
